# This notebook includes merging operations, exporting to JSON/CSV

In [1]:
import pandas as pd

In [2]:
db_url = "sqlite:///twitter.sqlite3"

In [3]:
users = pd.read_sql_table('users', db_url)

In [4]:
users[:5]

,id,uid,name,screen_name,created_at,description,followers_count,friends_count,statuses_count,favourites_count,listed_count,geo_enabled,lang
0,1,2287988612,#pinkpanda,apinklav,Sun Jan 12 10:46:42 +0000 2014,just apink and occasional other gg bias rts + ...,56,None,26666,54495,0,False,en
1,2,898708209430548480,Kei,gf9m0zn729e,Sat Aug 19 00:48:29 +0000 2017,宇宙人が地球に来て初めてこの知識を学んたら、きっと地球の知識はレベル高いな、と思うだろう。そ...,0,None,25,0,0,False,ja
2,3,242171738,LA〽️ARRE/FREEBANDZ,Xce11ent,Mon Jan 24 03:40:27 +0000 2011,21.,2628,None,124032,25504,11,True,en
3,4,3773208562,iSocialMedia.es,iSocialMedia_es,Fri Sep 25 17:16:08 +0000 2015,Cuenta Oficial @iSocialMedia_es | Compañía sta...,301273,None,7934,9389,111,False,es
4,5,791151948112232448,Lerinjo,Lerinjo,Wed Oct 26 05:38:18 +0000 2016,Writer,31,None,413,462,0,False,en

In [6]:
users.created_at.value_counts().sort_values()

Fri Sep 09 19:45:12 +0000 2011    1
Thu Apr 14 15:00:35 +0000 2011    1
Sun Apr 30 12:15:39 +0000 2017    1
Thu Dec 26 06:29:24 +0000 2013    1
Fri Sep 01 06:54:05 +0000 2017    1
Tue Jan 24 03:22:05 +0000 2012    1
Fri May 29 14:36:03 +0000 2015    1
Wed Aug 05 05:57:53 +0000 2015    1
Thu Nov 19 12:43:12 +0000 2009    1
Wed Jun 21 20:39:53 +0000 2017    1
Tue Aug 18 16:35:16 +0000 2015    1
Mon Aug 14 22:59:39 +0000 2017    1
Sat Sep 09 02:13:26 +0000 2017    1
Thu Oct 13 02:08:56 +0000 2011    1
Mon Jan 19 20:33:18 +0000 2015    1
Sat Sep 02 09:19:42 +0000 2017    1
Mon Jan 23 04:07:41 +0000 2017    1
Sat Sep 24 19:07:36 +0000 2016    1
Tue Mar 20 15:00:07 +0000 2012    1
Sat Dec 20 04:42:39 +0000 2014    1
Sat Sep 02 05:19:02 +0000 2017    1
Mon Jan 30 15:04:51 +0000 2017    1
Tue Dec 08 05:41:08 +0000 2009    1
Sun Oct 05 14:59:17 +0000 2014    1
Wed Dec 10 09:07:38 +0000 2014    1
Thu Apr 29 00:32:00 +0000 2010    1
Sun Oct 20 07:41:46 +0000 2013    1
Fri Nov 06 20:51:09 +0000 2009    1
Mon Jan 05 23:24:00 +0000 2015    1
Tue Oct 20 13:28:27 +0000 2009    1
                                 ..
Mon Aug 20 17:58:21 +0000 2012    3
Fri Dec 02 04:24:21 +0000 2016    3
Sat Jul 09 10:44:09 +0000 2011    3
Sun Aug 16 02:38:23 +0000 2009    3
Thu Mar 16 02:37:29 +0000 2017    3
Sat Apr 04 17:47:33 +0000 2009    3
Wed May 15 15:17:30 +0000 2013    3
Tue Feb 12 03:18:16 +0000 2013    3
Thu Nov 29 23:18:30 +0000 2012    3
Thu Apr 30 02:42:51 +0000 2009    3
Sun Apr 27 13:51:04 +0000 2014    3
Fri Nov 11 02:05:16 +0000 2011    3
Sun Jan 29 16:43:06 +0000 2017    3
Thu Jul 06 19:49:23 +0000 2017    3
Mon May 16 13:40:41 +0000 2016    3
Tue Sep 05 02:32:08 +0000 2017    3
Fri Oct 28 03:23:23 +0000 2016    3
Wed Apr 24 13:26:09 +0000 2013    3
Tue Sep 25 15:45:57 +0000 2012    3
Thu Nov 15 20:26:28 +0000 2012    3
Thu Mar 04 02:46:24 +0000 2010    3
Fri Nov 21 05:46:29 +0000 2008    4
Sun Oct 21 22:20:59 +0000 2012    4
Tue Oct 21 07:23:04 +0000 2014    4
Thu Jun 01 17:44:07 +0000 2017    4
Sat Oct 25 05:43:41 +0000 2008    4
Sun Feb 01 12:14:23 +0000 2015    5
Tue Jul 26 20:13:04 +0000 2016    6
Tue Mar 07 03:14:16 +0000 2017    6
Mon Sep 29 01:22:01 +0000 2014    6
Name: created_at, Length: 2947, dtype: int64

In [18]:
# Converts users.created_at series to datetime series
users.created_at =  pd.to_datetime(users.created_at)

In [19]:
# Get start months for each user
users['start_year'] = users.created_at.dt.year

In [20]:
users.groupby('start_year').size()

start_year
2007      6
2008     41
2009    200
2010    230
2011    310
2012    330
2013    274
2014    290
2015    378
2016    493
2017    580
dtype: int64

In [21]:
# Get start months for each user
users['start_month'] = users.created_at.dt.month

In [26]:
users.start_month.value_counts().sort_index()

1     250
2     264
3     261
4     243
5     264
6     250
7     294
8     325
9     308
10    213
11    230
12    230
Name: start_month, dtype: int64

In [27]:
users[users.start_year == 2011].start_month.value_counts().sort_index()

1     28
2     27
3     19
4     25
5     24
6     22
7     36
8     25
9     17
10    21
11    36
12    30
Name: start_month, dtype: int64

In [28]:
users[users.start_year == 2010].start_month.value_counts().sort_index()

1     19
2     13
3     20
4     23
5     25
6     18
7     23
8     22
9     23
10    19
11    14
12    11
Name: start_month, dtype: int64

In [29]:
users[users.start_year == 2009].start_month.value_counts().sort_index()

1      4
2     13
3     23
4     32
5     19
6     28
7     15
8     16
9     16
10    12
11     9
12    13
Name: start_month, dtype: int64

In [30]:
users.created_at.dt.hour.value_counts().sort_index()

0     136
1     151
2     186
3     219
4     150
5     150
6     113
7      98
8      95
9      62
10     82
11     85
12    106
13    130
14    118
15    147
16    132
17    155
18    112
19    123
20    152
21    130
22    139
23    161
Name: created_at, dtype: int64

In [31]:
from datetime import datetime

In [32]:
# twitter launch datetime
twitter_launch = datetime(2006, 3, 1)

In [33]:
# Subtract users twitter launch from the twitter launch datetime
users['account_lag'] = users.created_at.subtract(twitter_launch)

In [35]:
users.account_lag

0      2874 days 10:46:42
1      4189 days 00:48:29
2      1790 days 03:40:27
3      3495 days 17:16:08
4      3892 days 05:38:18
5      1886 days 19:32:54
6      4164 days 23:09:54
7      3997 days 10:48:11
8      3654 days 02:12:48
9      1805 days 13:27:58
10     2747 days 06:20:39
11     1286 days 18:04:16
12     3600 days 02:36:41
13     4139 days 21:13:12
14     2110 days 17:18:02
15     2392 days 20:19:28
16     3706 days 23:12:08
17     3530 days 09:38:30
18     3251 days 18:32:52
19     3923 days 05:55:02
20     3490 days 11:42:23
21     2899 days 10:04:57
22     3837 days 21:21:12
23     3557 days 20:46:11
24     4209 days 19:01:21
25     2122 days 17:55:40
26     3577 days 00:09:39
27     1331 days 13:24:12
28     3106 days 01:43:30
29     3027 days 21:20:26
              ...
3102   2123 days 00:43:54
3103   2966 days 13:21:16
3104   1906 days 05:13:03
3105   1176 days 23:20:32
3106   1554 days 02:21:08
3107   1798 days 14:29:31
3108   2172 days 18:41:27
3109   2364 days 17:58:21
3110   1659 days 02:45:42
3111   4124 days 23:11:47
3112   2307 days 19:39:46
3113   1843 days 05:13:18
3114   1188 days 01:14:30
3115   2780 days 20:39:08
3116   4143 days 17:08:32
3117   1857 days 21:16:01
3118   2752 days 14:29:26
3119   3744 days 19:54:33
3120   2599 days 08:10:36
3121   1698 days 03:05:38
3122   3336 days 02:13:48
3123   3947 days 04:02:55
3124   3922 days 16:18:38
3125   1808 days 21:48:37
3126   4154 days 08:21:33
3127   2789 days 10:05:14
3128   2211 days 00:24:58
3129   2681 days 02:17:03
3130   4120 days 05:57:52
3131   1928 days 20:05:50
Name: account_lag, Length: 3132, dtype: timedelta64[ns]

In [36]:
users.account_lag.describe()

count                         3132
mean     2930 days 06:16:41.452107
std       970 days 06:47:02.246894
min              430 days 07:01:40
25%      2125 days 23:41:58.500000
50%      3091 days 02:05:24.500000
75%             3833 days 01:36:51
max             4214 days 04:11:58
Name: account_lag, dtype: object

In [38]:
users.account_lag.sort_values().iloc[[0, -1]]

539     430 days 07:01:40
2582   4214 days 04:11:58
Name: account_lag, dtype: timedelta64[ns]

In [39]:
_.iloc[1] - _.iloc[0]

Timedelta('3783 days 21:10:18')

In [40]:
tweets = pd.read_sql_table('tweets', db_url)

In [41]:
tweets.columns

Index(['id', 'tid', 'tweet', 'user_id', 'coordinates', 'created_at',
       'favorite_count', 'in_reply_to_screen_name', 'in_reply_to_status_id',
       'in_reply_to_user_id', 'lang', 'quoted_status_id', 'retweet_count',
       'source', 'is_retweet'],
      dtype='object')

In [42]:
users.columns

Index(['id', 'uid', 'name', 'screen_name', 'created_at', 'description',
       'followers_count', 'friends_count', 'statuses_count',
       'favourites_count', 'listed_count', 'geo_enabled', 'lang', 'start_year',
       'start_month', 'account_lag'],
      dtype='object')

In [45]:
# Merge tweets and users dataframes [Similar to join operation on sql]
merged_tweets = tweets.merge(users, left_on='user_id', right_on='id')

In [46]:
merged_tweets.columns

Index(['id_x', 'tid', 'tweet', 'user_id', 'coordinates', 'created_at_x',
       'favorite_count', 'in_reply_to_screen_name', 'in_reply_to_status_id',
       'in_reply_to_user_id', 'lang_x', 'quoted_status_id', 'retweet_count',
       'source', 'is_retweet', 'id_y', 'uid', 'name', 'screen_name',
       'created_at_y', 'description', 'followers_count', 'friends_count',
       'statuses_count', 'favourites_count', 'listed_count', 'geo_enabled',
       'lang_y', 'start_year', 'start_month', 'account_lag'],
      dtype='object')

In [50]:
hashtag_tweet = pd.read_sql_table('hashtag_tweet', db_url)

In [51]:
hashtag_tweet.head()

   hashtag_id  tweet_id
0          10         7
1           1         7
2           2         7
3           3         7
4           4         7

In [52]:
hashtags = pd.read_sql_table('hashtags', db_url)

In [53]:
hashtags.head()

   id      text
0   1       نشر
1   2  نشر_سناب
2   3  snapchat
3   4  سناب_شات
4   5     سنابي

In [54]:
hashtag_tweet.columns

Index(['hashtag_id', 'tweet_id'], dtype='object')

In [55]:
hashtags.columns

Index(['id', 'text'], dtype='object')

In [56]:
# Merge hashtag_tweet and hashtags table (inner join)
hashtag_tweet_merged = hashtag_tweet.merge(hashtags, left_on='hashtag_id', right_on='id')

In [57]:
hashtag_tweet_merged.head()

   hashtag_id  tweet_id  id      text
0          10         7  10   فانزاتي
1           1         7   1       نشر
2           1      1375   1       نشر
3           2         7   2  نشر_سناب
4           3         7   3  snapchat

In [59]:
# Drop 'id' column for the merged data frame
hashtag_tweet_merged.drop('id', 1, inplace=True)

In [60]:
hashtag_tweet_merged.head()

   hashtag_id  tweet_id      text
0          10         7   فانزاتي
1           1         7       نشر
2           1      1375       نشر
3           2         7  نشر_سناب
4           3         7  snapchat

In [64]:
# Outer join both tweets and hashtag_tweet_merged data frame, since most of the tweets might not have hashtag
hashtag_tweet_merged_outer = pd.merge(merged_tweets, hashtag_tweet_merged, left_on='id_x', right_on='tweet_id', how='outer')

In [65]:
hashtag_tweet_merged_outer.columns

Index(['id_x', 'tid', 'tweet', 'user_id', 'coordinates', 'created_at_x',
       'favorite_count', 'in_reply_to_screen_name', 'in_reply_to_status_id',
       'in_reply_to_user_id', 'lang_x', 'quoted_status_id', 'retweet_count',
       'source', 'is_retweet', 'id_y', 'uid', 'name', 'screen_name',
       'created_at_y', 'description', 'followers_count', 'friends_count',
       'statuses_count', 'favourites_count', 'listed_count', 'geo_enabled',
       'lang_y', 'start_year', 'start_month', 'account_lag', 'hashtag_id',
       'tweet_id', 'text'],
      dtype='object')

In [66]:
# Drop 'tweet_id' column
hashtag_tweet_merged_outer.drop('tweet_id', 1, inplace=True)

In [67]:
hashtag_tweet_merged_outer.columns

Index(['id_x', 'tid', 'tweet', 'user_id', 'coordinates', 'created_at_x',
       'favorite_count', 'in_reply_to_screen_name', 'in_reply_to_status_id',
       'in_reply_to_user_id', 'lang_x', 'quoted_status_id', 'retweet_count',
       'source', 'is_retweet', 'id_y', 'uid', 'name', 'screen_name',
       'created_at_y', 'description', 'followers_count', 'friends_count',
       'statuses_count', 'favourites_count', 'listed_count', 'geo_enabled',
       'lang_y', 'start_year', 'start_month', 'account_lag', 'hashtag_id',
       'text'],
      dtype='object')

In [72]:
# Get the most influential user (i.e users with most number of followers)
groupbyname = users.groupby('name')

In [73]:
def get_most_influential_user(grouping):
    result = []
    for name, dataFrame in grouping:
        count = len(dataFrame)
        followers = dataFrame.followers_count.sum()
        result.append({"name": name, "followers": followers, "count": count})
    return pd.DataFrame(result)

In [74]:
user_followers_count = get_most_influential_user(grouping=groupbyname)

In [76]:
user_followers_count = user_followers_count[ user_followers_count["count"] > 1]

In [77]:
user_followers_count.to_json('name_influencers.json')

In [78]:
%ls

 Volume in drive A is MyData
 Volume Serial Number is C214-29E7

 Directory of A:\workspace\data-analysis\data_analysis

09/13/2017  11:58 PM    <DIR>          .
09/13/2017  11:58 PM    <DIR>          ..
09/13/2017  10:24 PM    <DIR>          .ipynb_checkpoints
09/13/2017  11:55 PM    <DIR>          __pycache__
09/03/2017  09:55 PM           126,237 available.json
09/06/2017  11:47 PM             3,636 database.py
09/13/2017  11:58 PM             6,643 name_influencers.json
09/03/2017  11:53 PM               302 notes.md
09/13/2017  10:26 PM           294,075 pandas_demo.ipynb
09/13/2017  10:26 PM             4,354 pandas_demo.py
09/13/2017  11:57 PM            38,245 pandas_demo_extended.ipynb
09/03/2017  09:55 PM            12,743 places_worldwide.json
09/11/2017  11:01 PM             5,352 save_tweets.py
09/13/2017  12:15 AM         7,444,039 tweets.json
09/13/2017  12:31 AM         1,576,960 twitter.sqlite3
09/06/2017  06:46 PM             2,640 twitter_data_access.py
09/13/2017  12:26 AM             4,504 update_tweets.ipynb
09/13/2017  12:31 AM             2,382 update_tweets.py
              14 File(s)      9,522,112 bytes
               4 Dir(s)  484,948,639,744 bytes free

In [79]:
user_followers_count.to_csv('name_influencers.csv')

In [80]:
%ls

 Volume in drive A is MyData
 Volume Serial Number is C214-29E7

 Directory of A:\workspace\data-analysis\data_analysis

09/13/2017  11:58 PM    <DIR>          .
09/13/2017  11:58 PM    <DIR>          ..
09/13/2017  10:24 PM    <DIR>          .ipynb_checkpoints
09/13/2017  11:55 PM    <DIR>          __pycache__
09/03/2017  09:55 PM           126,237 available.json
09/06/2017  11:47 PM             3,636 database.py
09/13/2017  11:59 PM             3,614 name_influencers.csv
09/13/2017  11:58 PM             6,643 name_influencers.json
09/03/2017  11:53 PM               302 notes.md
09/13/2017  10:26 PM           294,075 pandas_demo.ipynb
09/13/2017  10:26 PM             4,354 pandas_demo.py
09/13/2017  11:57 PM            38,245 pandas_demo_extended.ipynb
09/03/2017  09:55 PM            12,743 places_worldwide.json
09/11/2017  11:01 PM             5,352 save_tweets.py
09/13/2017  12:15 AM         7,444,039 tweets.json
09/13/2017  12:31 AM         1,576,960 twitter.sqlite3
09/06/2017  06:46 PM             2,640 twitter_data_access.py
09/13/2017  12:26 AM             4,504 update_tweets.ipynb
09/13/2017  12:31 AM             2,382 update_tweets.py
              15 File(s)      9,525,726 bytes
               4 Dir(s)  484,948,635,648 bytes free